doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        header
            h1= title
            h2= subtitle
            nav
                p Maps of great <a href="codigos" title="codigos">Códigos</a> and <a href="hospital" title="hosital">Hospital</a> de clinica Air.
        #map_canvas
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
        script(src='https://kit.fontawesome.com/a26e46392b.js')
        block content